flows.json
[{"id":"b03ec91.4fd9138","type":"tab","label":"JSON-REDIS","disabled":false,"info":"A simple API implementation for JSON data transformation.\nJSON data is stored in Redis Database."},{"id":"a18f2357.2d2d1","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/allergies","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["c227e388.3440f"]]},{"id":"5beb248c.165e8c","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/allergies","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["806d5af4.91d2b8"]]},{"id":"806d5af4.91d2b8","type":"change","z":"b03ec91.4fd9138","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["214aa241.8d333e","a997ba97.23bed8"]]},{"id":"5d9c9b0c.d77484","type":"switch","z":"b03ec91.4fd9138","name":"","property":"payload.validation","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":600,"wires":[["5a91d10f.666a6"],[]]},{"id":"5a91d10f.666a6","type":"function","z":"b03ec91.4fd9138","name":"Result JSON","func":"msg.payload = {'success': false, 'msg': 'Invalid datatype'}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["c4b9a187.a5168"]]},{"id":"c4b9a187.a5168","type":"http response","z":"b03ec91.4fd9138","name":"Invalid Datatype","statusCode":"400","headers":{},"x":300,"y":680,"wires":[]},{"id":"c56576b6.d52cb8","type":"function","z":"b03ec91.4fd9138","name":"DatatypeValidation","func":"payload = msg.payload;\nvalid_types = [\n    'allergies',\n    'medicians',\n    'problems'\n];\n\nif (valid_types.indexOf(payload.datatype) == -1) {\n    msg.payload.validation = false;\n} else {\n    msg.payload = payload;\n    msg.payload.validation = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":600,"wires":[["5d9c9b0c.d77484"]]},{"id":"c227e388.3440f","type":"change","z":"b03ec91.4fd9138","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[["1eceb14e.c0579f"]]},{"id":"c33a7f89.2e97d","type":"redis-command","z":"b03ec91.4fd9138","server":"bfdd2c04.17ba3","command":"hget","name":"","topic":"","x":910,"y":280,"wires":[["2e908e8f.34f2d2"]]},{"id":"214aa241.8d333e","type":"function","z":"b03ec91.4fd9138","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = [payload.datatype, payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["c33a7f89.2e97d"]]},{"id":"5dc3d180.09373","type":"json","z":"b03ec91.4fd9138","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1240,"y":360,"wires":[["9ea420e3.da35c"]]},{"id":"e5e2af32.f1e2","type":"http response","z":"b03ec91.4fd9138","name":"GET Success","statusCode":"","headers":{},"x":1400,"y":500,"wires":[]},{"id":"1eceb14e.c0579f","type":"function","z":"b03ec91.4fd9138","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.datatype, payload.ptId, JSON.stringify(JSON.parse(payload.data))];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":40,"wires":[["7244bf13.5f753"]]},{"id":"7244bf13.5f753","type":"redis-command","z":"b03ec91.4fd9138","server":"bfdd2c04.17ba3","command":"hset","name":"","topic":"","x":910,"y":40,"wires":[["a47ee192.45344"]]},{"id":"a47ee192.45344","type":"function","z":"b03ec91.4fd9138","name":"Result JSON","func":"msg.payload = {\"success\": true}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":40,"wires":[["468f8122.24d9a"]]},{"id":"468f8122.24d9a","type":"http response","z":"b03ec91.4fd9138","name":"Post Success","statusCode":"","headers":{},"x":1320,"y":40,"wires":[]},{"id":"a997ba97.23bed8","type":"function","z":"b03ec91.4fd9138","name":"Transform method","func":"msg.payload = {transform: msg.payload.transform ? msg.payload.transform : ''};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["9ea420e3.da35c"]]},{"id":"9ea420e3.da35c","type":"join","z":"b03ec91.4fd9138","name":"Add transform method","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":860,"y":420,"wires":[["799ab09d.d8c7f"]]},{"id":"799ab09d.d8c7f","type":"switch","z":"b03ec91.4fd9138","name":"Transform Switch","property":"payload.transform","propertyType":"msg","rules":[{"t":"eq","v":"TransformA-Allergy-UI2openEHR","vt":"str"},{"t":"eq","v":"TransformB-Allergy-UI2FHIR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":520,"wires":[["24c19788.da2758"],["ae0851e6.f8a86"],["84f4bb99.2d2d38"]]},{"id":"24c19788.da2758","type":"change","z":"b03ec91.4fd9138","name":"TransformA-Allergy-UI2openEHR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"allergies_and_adverse_reactions\": {\t      \"adverse_reaction_risk\": {\t        \"causative_agent\": {\t          \"value\": msg.payload.cause,\t          \"code\": msg.payload.causeCode,\t          \"terminology\": msg.payload.causeTerminology\t        },\t        \"reaction_details\": {\t          \"manifestation\": {\t            \"code\": msg.payload.terminologyCode,\t            \"value\": msg.payload.reaction\t          }\t        }\t      }\t    },\t    \"composer\": {\t      \"value\": msg.payload.author\t    },\t    \"start_time\": $fromMillis(msg.payload.dateCreated),\t    \"host\": msg.payload.source,\t    \"uid\": msg.payload.sourceId,\t    \"patientId\": msg.payload.patientId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":500,"wires":[["e5e2af32.f1e2"]]},{"id":"ae0851e6.f8a86","type":"change","z":"b03ec91.4fd9138","name":"TransformB-Allergy-UI2FHIR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"resourceType\": \"AllergyIntolerance\",\t    \"identifier\": [\t      {\t        \"system\": msg.payload.source,\t        \"value\": msg.payload.sourceId\t      }\t    ],\t    \"onset\": $fromMillis(msg.payload.dateCreated),\t    \"recordedDate\": $fromMillis(msg.payload.dateCreated),\t    \"recorder\": {\t      \"reference\": \"GMC Doctor\",\t      \"display\": msg.payload.author\t    },\t    \"patient\": {\t      \"reference\": \"=> fhirReference(patientId, 'Patient', false)\",\t      \"display\": \"{{patientName}}\"\t    },\t    \"substance\": {\t      \"coding\": [\t        {\t          \"system\": msg.payload.causeCode,\t          \"code\": msg.payload.causeTerminology,\t          \"display\": msg.payload.cause\t        }\t      ]\t    },\t    \"status\": \"active\",\t    \"type\": \"allergy\",\t    \"category\": \"other\",\t    \"reaction\": [\t      {\t        \"substance\": {\t          \"coding\": [\t            {\t              \"system\": msg.payload.causeCode,\t              \"code\": msg.payload.causeTerminology,\t              \"display\": msg.payload.cause\t            }\t          ],\t          \"text\": msg.payload.ause\t        },\t        \"certainty\": \"confirmed\",\t        \"manifestation\": [\t          {\t            \"coding\": [\t              {\t                \"system\": msg.payload.terminologyCode,\t                \"code\": \"TBC\",\t                \"display\": msg.payload.reaction\t              }\t            ],\t            \"text\": msg.payload.reaction\t          }\t        ],\t        \"description\": msg.payload.reaction\t      }\t    ],\t    \"note\": msg.payload.reaction\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":560,"wires":[["e5e2af32.f1e2"]]},{"id":"d0ebaeb4.736f8","type":"change","z":"b03ec91.4fd9138","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medicians\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["1eceb14e.c0579f"]]},{"id":"984a45cd.bac168","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/medicians","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["d0ebaeb4.736f8"]]},{"id":"4fd76c0f.9d6e94","type":"change","z":"b03ec91.4fd9138","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":121,"wires":[["1eceb14e.c0579f"]]},{"id":"a8e7ceff.4c31f","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/problems","method":"post","upload":false,"swaggerDoc":"","x":140,"y":121,"wires":[["4fd76c0f.9d6e94"]]},{"id":"1052d7ef.b3ba78","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/problems","method":"get","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["97b3065e.74d318"]]},{"id":"97b3065e.74d318","type":"change","z":"b03ec91.4fd9138","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":360,"wires":[["214aa241.8d333e","a997ba97.23bed8"]]},{"id":"b35bae69.c11c6","type":"http in","z":"b03ec91.4fd9138","name":"","url":"/patient/:ptId/medicians","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["ed55c054.6ebd"]]},{"id":"ed55c054.6ebd","type":"change","z":"b03ec91.4fd9138","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medicians\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["214aa241.8d333e","a997ba97.23bed8"]]},{"id":"84f4bb99.2d2d38","type":"function","z":"b03ec91.4fd9138","name":"No Transform","func":"msg.payload = msg.payload;\ndelete msg.payload.transform;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":620,"wires":[["e5e2af32.f1e2"]]},{"id":"2e908e8f.34f2d2","type":"switch","z":"b03ec91.4fd9138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":280,"wires":[["1b122b63.d18465"],["5dc3d180.09373"]]},{"id":"1b122b63.d18465","type":"http response","z":"b03ec91.4fd9138","name":"GET No Data","statusCode":"200","headers":{},"x":1400,"y":280,"wires":[]},{"id":"bfdd2c04.17ba3","type":"redis-config","z":"","host":"{{REDIS_PORT_6379_TCP_ADDR}}","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"{{REDIS_PASSWORD}}"}]