flows.json
[{"id":"8b6f85a3.5c29c8","type":"tab","label":"JSON-REDIS","disabled":false,"info":"A simple API implementation for JSON data transformation.\nJSON data is stored in Redis Database."},{"id":"fcc8a0c6.7d54a","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/allergies","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["5c038e00.86fd44"]]},{"id":"ee838f97.2b97f","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/allergies","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["9795c70c.262cb8"]]},{"id":"9795c70c.262cb8","type":"change","z":"8b6f85a3.5c29c8","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["2b60fadd.85a5d6","1d29a7fa.6e9218"]]},{"id":"1de36cca.cc4e83","type":"switch","z":"8b6f85a3.5c29c8","name":"","property":"payload.validation","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":600,"wires":[["2d70c54e.dee69a"],[]]},{"id":"2d70c54e.dee69a","type":"function","z":"8b6f85a3.5c29c8","name":"Result JSON","func":"msg.payload = {'success': false, 'msg': 'Invalid datatype'}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["8f77eb80.393d88"]]},{"id":"8f77eb80.393d88","type":"http response","z":"8b6f85a3.5c29c8","name":"Invalid Datatype","statusCode":"400","headers":{},"x":300,"y":680,"wires":[]},{"id":"2c85b71d.d90a58","type":"function","z":"8b6f85a3.5c29c8","name":"DatatypeValidation","func":"payload = msg.payload;\nvalid_types = [\n    'allergies',\n    'medicians',\n    'problems'\n];\n\nif (valid_types.indexOf(payload.datatype) == -1) {\n    msg.payload.validation = false;\n} else {\n    msg.payload = payload;\n    msg.payload.validation = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":600,"wires":[["1de36cca.cc4e83"]]},{"id":"5c038e00.86fd44","type":"change","z":"8b6f85a3.5c29c8","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[["f514cf7e.408ad"]]},{"id":"193bd6d4.626ce9","type":"redis-command","z":"8b6f85a3.5c29c8","server":"d9c63029.5a3f3","command":"hget","name":"","topic":"","x":910,"y":280,"wires":[["b88752c7.2a4e"]]},{"id":"2b60fadd.85a5d6","type":"function","z":"8b6f85a3.5c29c8","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = [payload.datatype, payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["193bd6d4.626ce9"]]},{"id":"9d37375f.3acda8","type":"json","z":"8b6f85a3.5c29c8","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1240,"y":360,"wires":[["20c4235e.53fe2c"]]},{"id":"d73912c3.05cf8","type":"http response","z":"8b6f85a3.5c29c8","name":"GET Success","statusCode":"","headers":{},"x":1400,"y":500,"wires":[]},{"id":"f514cf7e.408ad","type":"function","z":"8b6f85a3.5c29c8","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.datatype, payload.ptId, JSON.stringify(JSON.parse(payload.data))];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":40,"wires":[["b970bb37.017e88"]]},{"id":"b970bb37.017e88","type":"redis-command","z":"8b6f85a3.5c29c8","server":"d9c63029.5a3f3","command":"hset","name":"","topic":"","x":910,"y":40,"wires":[["72bba87e.4d38a8"]]},{"id":"72bba87e.4d38a8","type":"function","z":"8b6f85a3.5c29c8","name":"Result JSON","func":"msg.payload = {\"success\": true}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":40,"wires":[["9357a2b1.a6506"]]},{"id":"9357a2b1.a6506","type":"http response","z":"8b6f85a3.5c29c8","name":"Post Success","statusCode":"","headers":{},"x":1320,"y":40,"wires":[]},{"id":"1d29a7fa.6e9218","type":"function","z":"8b6f85a3.5c29c8","name":"Transform method","func":"msg.payload = {transform: msg.payload.transform ? msg.payload.transform : ''};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["20c4235e.53fe2c"]]},{"id":"20c4235e.53fe2c","type":"join","z":"8b6f85a3.5c29c8","name":"Add transform method","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":860,"y":420,"wires":[["74b47c.31e78b84"]]},{"id":"74b47c.31e78b84","type":"switch","z":"8b6f85a3.5c29c8","name":"Transform Switch","property":"payload.transform","propertyType":"msg","rules":[{"t":"eq","v":"TransformA-Allergy-UI2openEHR","vt":"str"},{"t":"eq","v":"TransformB-Allergy-UI2FHIR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":520,"wires":[["9d40417c.444bc"],["fdc234c1.ef5cb8"],["123fd02b.2a059"]]},{"id":"9d40417c.444bc","type":"change","z":"8b6f85a3.5c29c8","name":"TransformA-Allergy-UI2openEHR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"allergies_and_adverse_reactions\": {\t      \"adverse_reaction_risk\": {\t        \"causative_agent\": {\t          \"value\": msg.payload.cause,\t          \"code\": msg.payload.causeCode,\t          \"terminology\": msg.payload.causeTerminology\t        },\t        \"reaction_details\": {\t          \"manifestation\": {\t            \"code\": msg.payload.terminologyCode,\t            \"value\": msg.payload.reaction\t          }\t        }\t      }\t    },\t    \"composer\": {\t      \"value\": msg.payload.author\t    },\t    \"start_time\": $fromMillis(msg.payload.dateCreated),\t    \"host\": msg.payload.source,\t    \"uid\": msg.payload.sourceId,\t    \"patientId\": msg.payload.patientId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":500,"wires":[["d73912c3.05cf8"]]},{"id":"fdc234c1.ef5cb8","type":"change","z":"8b6f85a3.5c29c8","name":"TransformB-Allergy-UI2FHIR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"resourceType\": \"AllergyIntolerance\",\t    \"identifier\": [\t      {\t        \"system\": msg.payload.source,\t        \"value\": msg.payload.sourceId\t      }\t    ],\t    \"onset\": $fromMillis(msg.payload.dateCreated),\t    \"recordedDate\": $fromMillis(msg.payload.dateCreated),\t    \"recorder\": {\t      \"reference\": \"GMC Doctor\",\t      \"display\": msg.payload.author\t    },\t    \"patient\": {\t      \"reference\": \"=> fhirReference(patientId, 'Patient', false)\",\t      \"display\": \"{{patientName}}\"\t    },\t    \"substance\": {\t      \"coding\": [\t        {\t          \"system\": msg.payload.causeCode,\t          \"code\": msg.payload.causeTerminology,\t          \"display\": msg.payload.cause\t        }\t      ]\t    },\t    \"status\": \"active\",\t    \"type\": \"allergy\",\t    \"category\": \"other\",\t    \"reaction\": [\t      {\t        \"substance\": {\t          \"coding\": [\t            {\t              \"system\": msg.payload.causeCode,\t              \"code\": msg.payload.causeTerminology,\t              \"display\": msg.payload.cause\t            }\t          ],\t          \"text\": msg.payload.ause\t        },\t        \"certainty\": \"confirmed\",\t        \"manifestation\": [\t          {\t            \"coding\": [\t              {\t                \"system\": msg.payload.terminologyCode,\t                \"code\": \"TBC\",\t                \"display\": msg.payload.reaction\t              }\t            ],\t            \"text\": msg.payload.reaction\t          }\t        ],\t        \"description\": msg.payload.reaction\t      }\t    ],\t    \"note\": msg.payload.reaction\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":560,"wires":[["d73912c3.05cf8"]]},{"id":"f9893b32.1d74a8","type":"change","z":"8b6f85a3.5c29c8","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medicians\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["f514cf7e.408ad"]]},{"id":"85b36104.6b267","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/medicians","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["f9893b32.1d74a8"]]},{"id":"d315995e.8ce508","type":"change","z":"8b6f85a3.5c29c8","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"POST\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":121,"wires":[["f514cf7e.408ad"]]},{"id":"c23dbf29.749a6","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/problems","method":"post","upload":false,"swaggerDoc":"","x":140,"y":121,"wires":[["d315995e.8ce508"]]},{"id":"540e7c8a.f89634","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/problems","method":"get","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["dbbb529b.35f91"]]},{"id":"dbbb529b.35f91","type":"change","z":"8b6f85a3.5c29c8","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":360,"wires":[["2b60fadd.85a5d6","1d29a7fa.6e9218"]]},{"id":"cee87482.eb5278","type":"http in","z":"8b6f85a3.5c29c8","name":"","url":"/patient/:ptId/medicians","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["c9c985b9.6b88e8"]]},{"id":"c9c985b9.6b88e8","type":"change","z":"8b6f85a3.5c29c8","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"method\": \"GET\",\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medicians\",\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["2b60fadd.85a5d6","1d29a7fa.6e9218"]]},{"id":"123fd02b.2a059","type":"function","z":"8b6f85a3.5c29c8","name":"No Transform","func":"msg.payload = msg.payload;\ndelete msg.payload.transform;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":620,"wires":[["d73912c3.05cf8"]]},{"id":"b88752c7.2a4e","type":"switch","z":"8b6f85a3.5c29c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":280,"wires":[["97add27a.925df"],["9d37375f.3acda8"]]},{"id":"97add27a.925df","type":"http response","z":"8b6f85a3.5c29c8","name":"GET No Data","statusCode":"200","headers":{},"x":1400,"y":280,"wires":[]},{"id":"d9c63029.5a3f3","type":"redis-config","z":"","host":"{{REDIS_PORT_6379_TCP_ADDR}}","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"X6NvLgr5NJ/INEuzt6mxP5QdTyK+2ZQiXwwtaj8Mipy97SRM1pj6dK734XmoFZrNg5+b8kpO54cIPTVkdeveloper@ubuntu"}]